<div class="image" style="width: 200px; margin: 0 auto;">
  <%= profile_img(@user) %>
</div>
<p>名前：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>

<%= render 'follow_form', user: @user %>

<ul>
  フォロー(<%= @user.followed_users.count %>)
  <% @user.followed_users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>
  </li>
  <% end %>
</ul>
<ul>
  フォロワー(<%= @user.followers.count %>)
  <% @user.followers.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>
  </li>
  <% end %>
</ul>
